<ul>
<li>
mei-titlestmt > mei-title {
font-size: 25px;
 font-weight: bold;
 content: "Title: ";
 white-space: pre;
    }
 </li>
</ul>
<br>
<ul>
<li>
 mei-titlestmt > mei-composer::before {
  font-size: 20px;
  font-weight: bold;
  content: "Composer: ";
  white-space: pre;
    }
</li>
<li>
 mei-titlestmt > mei-respstmt > mei-resp {
font-size: 20px;
font-weight: bold;
 content: "Sung by: ";
 white-space: pre;
    }
</li>
<li>
 mei-titlestmt > mei-respstmt > mei-resp {
font-size: 20px;
font-weight: bold;
 content: "Encoded by: ";
 white-space: pre;
    }
</li>
</ul>

<ul>
<li> mei-editionstmt > mei-title {
font-size: 20px;
font-weight: bold;
content: "Title: ";
 white-space: pre;
	  }
</li>
<li>
mei-editionstmt > mei-arranger {
font-size: 20px;
font-weight: bold;
content: "Arranger: ";
 white-space: pre;
	  }
</li>
<li>
mei-editionstmt > mei-edition {
font-size: 20px;
font-weight: bold;
content: "Edition: ";
 white-space: pre;
	  }
</li>
</li>	  
mei-editionstmt > mei-date {
font-size: 20px;
font-weight: bold;
content: "Date: ";
 white-space: pre;
	  }
</li>
<li>
mei-editionstmt > mei-respstmt > mei-resp {
font-size: 20px;
font-weight: bold;
content: "Revised by: ";
 white-space: pre;
	  }
</li>
</ul>

<ul>
<li>
mei-pubstmt > mei-availability > mei-userestrict {
font-size: 20px;
font-weight: bold;
 white-space: pre;
	  }
</li>
<li>
mei-pubstmt > mei-publisher > mei-corpname {
font-size: 20px;
font-weight: bold;
content: "CorpName: ";
 white-space: pre;
	  }
</li>
<li>
mei-pubstmt > mei-address > mei-addrline > mei-geogname {
font-size: 20px;
font-weight: bold;
content: "GeoName: ";
 white-space: pre;
	  }
</li>
</ul>

<ul>
<li>
mei-encodingdesc > projectdesc {
font-size: 20px;
font-weight: bold;
content: "ProjectDesc: ";
 white-space: pre;
	  }
</li>
</ul>

<ul>
<li>
mei-worklist > mei-classification > mei-genre {
font-size: 20px;
font-weight: bold;
content: "Genre: ";
 white-space: pre;
		}
</li>
</ul>
	
